.search-input {
  display: flex;
  flex-direction: column;
    margin: auto;
    width: 20%;
    height: 50px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
    
  }
  .search-btn {
    display: flex;
    flex-direction: column;
      margin: auto;
      width: 8.5%;
      height: 40px;
      border-radius: 20px;
     
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
      background-color:white;
      text-align: center;
      font-weight: bold;
      
      
  }
  .btn-container{
    padding-top: 10px;
    padding-bottom: 10px;
  }